/*TODO:  StartHome Component  */
/*TODO: --------------------  */
/*? A Project by... //CODE */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.loader-content {
    width: 100%; 
    height: 100vh;
    background-color: rgb(14, 13, 13); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: background 6s 7s ease 1 forwards;
}

@keyframes background {

    from {
        background-color: rgb(14, 13, 13);
    }

    to {
        background-color: transparent;
    }
}

.text-loader-container {
    display: inline-block;
}

.start-home-text {
    color: white;
    border-right: 5px solid rgba(255, 255, 255, 0.9);
    font-size: 4em;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Fira Mono';
    font-style: italic;
    width: 100%;
    opacity: .9;
    animation: 
        typing 2.5s steps(15),
        cursor .6s step-end 5 alternate,
        glitch 1s linear infinite,
        cursorInherithedText 20s 3.45s forwards;
}

@keyframes cursorInherithedText {
  from {
    border-color: transparent;
  }

  to {
    border-color: transparent;

  }
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
   from {width: 0;}
   to {width: 100%;}
}

@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .start-home-text:before,
  .start-home-text:after,
  .spectrum-text:after,
  .spectrum-text:before{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .start-home-text:before,
  .spectrum-text:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .start-home-text:after,
  .spectrum-text:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

/*? Spectrum. //CODE */

.spectrum-text {
  letter-spacing: 2px;
  font-family: 'Fira Mono';
  user-select: none;
  white-space: nowrap;
  font-style: italic;
  overflow: hidden;
  font-size: 4em;
  color: transparent;
  text-align: end;
  margin:0;
  opacity: .9;
  border-right: 5px solid rgba(255, 255, 255, 0.9);
       animation:  glitch 1s linear infinite,
       typingTwo 2.5s 3.5s steps(9) forwards,
       cursorTwo .6s 3.5s step-end 5 alternate,
       cursorInherithed 3.5s;
}

@keyframes cursorInherithed {
  from {
    border-color: transparent;
  }

  to {
    border-color: transparent;
  }
}

@keyframes cursorTwo {

  50% {border-color: transparent;}
}

@keyframes typingTwo {
 from {width: 0;
color: white;
}
 to {width: 100%;
color: white;}
}
