:root {
    /*? Main Box Colors*/
  --side-bar_background:rgb(0, 0, 0);
  --slider-nav_and_top_color:rgba(15, 14, 14, 0.244);

    /** Rest Colors*/
  --top_text_color:#1487a1;
  --top-navigation_h2_color:rgb(255, 255, 255);

    /*TODO: Maßnahmenbeginn*/
  --side-bar_width:250px;
  --top_height:5em;

}

.side-bar {
  width: var(--side-bar_width);
  transition: width .5s ease;
  height: 100vh;
}

/*! useEffect*/

.side-bar.left{
  transform: translateX(var-(--side-bar_width));
  width: 0;
}

.nav {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--side-bar_background);
}


/*Nav Inside ---------------------*/ 

.top-navigation  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:  var(--slider-nav_and_top_color);
  min-height: var(--top_height);
  border-bottom: solid 2px rgba(255, 255, 255, 0.135);
}

/*Box contain only .top-icon %% -iot-text.
  his function is to contain them for use flex
*/

.top-navigation > .box {
  display: flex;
  align-items: end;
  gap:.25em;
  overflow: hidden;

}

.top-navigation > .box > .top-icon {
  width: 2em;
  transition: transform 10s ease-in-out;
}
  .top-navigation > .box > .top-icon:hover {
    transform: rotate(360deg);
    transition: transform 10s ease-in-out;
  }

.top-navigation > .box > .iot-text {
  position: relative;
  color: white;
  white-space: nowrap;
  font-family: 'Times New Roman', Times, serif;
  opacity: .6;
  font-style: italic;
  user-select: none;
}

.top-navigation > .box > .iot-text::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1.5%;
  left: -3.5%;
  background-color: rgb(61, 56, 56);
  z-index: -1;
}


/*? --------------------------------*/


/** slider-nav => Todo lo que conforma la parte superior del slider {Flecha y Caja contenedora}*/
/*? slider-ul  => Todo lo que conforma el ul y cajas hijas*/


.slider-nav {
  width: 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}   /*Estructura base*/

  .slider-nav > div {
    width: 100%;
    height: var(--top_height);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color filter 0.2s ease;
    background-color: var(--slider-nav_and_top_color);
    border-bottom: solid 2px rgba(255, 255, 255, 0.135);
    box-shadow: 0px -3px 3px 0px #236f9b;
  } /*Div contenedor de icono de flecha y sus estilos animados*/

  .slider-nav > div:hover {
  
    background-color: white;
  }
/*?----------------------*/
  /* Icono y su animación hover =>*/

  .slider-nav > div > .menu-arrow {
    width: 2em;
    transition: transform .25s ease;
  }

  .slider-nav > div:hover .menu-arrow {
    filter: invert(1);
  }

  /*!useState*/

  .menu-arrow.close {
    transition: transform .25s ease;
    transform: rotateY(180deg)
  }

/*?----------------------*/
  /* Ul Img => 0 0 0 0*/

  .slider-ul {  /*ul y estructura en columna de elementos*/
    max-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;
    gap: 1.25em;
    background-color: rgb(0, 0, 0);
    list-style: none;
  } 
    .slider-ul  a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    } 

    .slider-ul > li  {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;
      border-radius: 0.2em 0.5em 0.5em 0.2em;
    } /*Relleno de los elementos hijos para más facha*/

/*? Fin Estructura y Comienzo estilos, animaciones y tamaño de imagenes*/    

    .slider-ul > li > a > .slider-img {
      width: 2.5em; 
    }


        .slider-ul li {
          transition:   all .2s ease-in;
        }
    
        .slider-ul li:hover {
          background-color: white;
          transform: translateX(7.5%) translateY(-2%);
          transition:   all .1s ease;
        }

        .slider-ul li:hover .slider-img {
          filter: invert(1);
          filter: blur(.5);
        }

