/*TODO:  Control Component  */
/*TODO: --------------------  */



:root {
    --pads-color:#000000;
}

:root {
    --left-radius:1em 0 0 1em;
    --right-radius:0 1em 1em 0;
    --bottom-radius:0 0 1em 1em;
    --top-radius:1em 1em 0 0;
}

/*GRID POSITION*/
/*! ------------------------------------- */
.up {
    grid-column: 2;
    grid-row:1;
    border-radius: var(--top-radius);
}
.down {
    grid-column: 2;
    grid-row: 3;
    border-radius: var(--bottom-radius);
}
.right {
    grid-column: 3;
    grid-row: 2;
    border-radius: var(--right-radius);
}
.left {
    grid-column: 1;
    grid-row: 2;
    border-radius: var(--left-radius);
}

/*Styles Customization*/
/*! ------------------------------------- */

.control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.controller-box {
    width: 20em;
    height: 20em;
    background-color:transparent;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*! Center controller btn*/
/*! ------------- */
.center {
    background-color: var(--pads-color);
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-icon {
    width: 3em;
    height: 3em;   
}

/*!Buttons*/
/*! ------------- */

.controller-btn {
    background-color: var(--pads-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controller-btn > .arrow-in {
    width: 6em;
    height: 6em;
    filter: invert(1);
}

/*? Button Functionality*/
/*! ------------------------------------- */

.controller-btn.active {
    background-color: rgba(46, 138, 126, 0.733);
}

/*TODO: Side Speed Bar*/
/*TODO: --------------*/

.side-speed-bar {
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 2.25em;
    padding: 0.5em 0.5em;
    margin: 0.5em 1em;
    background-color: rgba(22, 20, 20, 0.322);
    border-radius: 0.1em;
}

.side-speed-bar .speed-elements-in {
    color: white;
    font-size: 2em;
    font-style: italic;
    padding: .25em .5em;
    background-color: rgb(18 17 18);
    border-radius: .15em;
    font-family: 'LetraFacha';
    user-select: none;
    opacity: .9;
    border-bottom: solid 6px rgba(255, 255, 255, 0.9);
    transition: transform 0.2s ease,
    border-color 0.1s ease;
}

/*? Test UI*/ 

.side-speed-bar .speed-elements-in:hover {
    border-bottom: solid 6px var( --red-contrast-color);
    transform: translateY(8px ) translateX(2px);
}
