:root {
  --red-contrast-color:rgba(218, 13, 13, 0.9);
}

@font-face {
  font-family: "LetraFacha";
  src: url("/fonts/butterscotch/Butterscotch.otf"),
  url("/fonts/butterscotch/Butterscotch.ttf");
}

.main {
    width: 100%;
    background: rgb(42,46,48);
    background: radial-gradient(circle, rgb(41, 43, 44) 76%, rgba(28,30,34,1) 100%);
    height: 100vh;
    transition: all 0.25s ease;
  }